

/* === базові налаштування === */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} or modern-normalize */

/* -- modern-normalize 
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    /> */

/* html {
    background-color: #b9f3b7; 
} */

body {
    /* margin-top: 0; */
    background-color: #b9f3b7; 
    /* background-color: #eee; */
    /* width: 1200px; */
    /* margin-left: auto;
    margin-right: auto; */
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p{
  margin-top: 0;
  margin-bottom: 0;
}

img{
    display: block;
    /* max-width: 100%; */
    height: auto;
} 
  
button {
    cursor: pointer;
}

.list {
  list-style: none; /*сброс точки в списках*/
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none; /*сброс подчеркивания*/
}


/* ----------hidden ----------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* ---end----hidden ----------- */




.container {
  /* max-width: 1140px; */
  /* width: 1140px;
  width: 100%; */
  /* margin: 0 auto; */
  padding: 0 15px;
  /* background-color: #edf4d7; */
  outline: 1px solid black;
}

.page-header,
.section-about,
.section-hero,
.page-footer {
  /* background-color: #bda3dc; */
  max-width: 1140px;
  margin: 0 auto;
}


.page-header {
  background-color: #edf4d7;
  margin-bottom: 10px;
}
.section-about {
  background-color: #b2bec5;
}
.section-hero {
  background-color: #c5b3c9;
}
.page-footer {
  background-color: #8974a2;
}
