/* ==== ElementChild ====*/

.container-element-child {
    max-width: 400px;
    margin: 10px auto;
}

.btn-container {
    display: flex;
    justify-content: center;
    /* gap: 30px; */
}

.text-dom,
.title-dom {
    /* border: 2px solid green; */
    min-height: 40px;
    padding: 0 6px;
}

.title-dom {
    text-align: center;
    min-height: 40px;
}

.text-dom {
    min-height: 60px;
}




button {
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    padding: 6px 20px;
    /* border-radius: 4px; */
}

button:disabled {
    cursor: default;
}

.bg-green {
    color: blue;
}

.bg-green.bg-red {
    color: red;
}

/* === Example 4 "Change img size" === */

.tumb-img-dom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    border: 1px solid black;
    margin: 10px auto;
}

/* .tumb-img-dom img {
    object-position: 20px 20px;
    object-position: center center;
} */


.describ-title {
    text-align: center;
}


/* === Example 5 "Render list" */
.list-dom {
    max-width: 300px;
    margin: 10px auto;
    height: 124px;
    /* border: 2px solid green; */
}