/* === базові налаштування === */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} or modern-normalize */

/* -- modern-normalize 
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    /> */

/* html {
    background-color: #b9f3b7; 
} */

/* ----------hidden ----------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* ---end----hidden ----------- */

/* -----button---- */
button {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 20px;
  padding: 8px 30px;
  background-color: #3f51b5;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
     0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

button:hover {
  transform: scale(1.03);
}
/* -end-----button---- */



body {
    /* margin-top: 0; */
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    background-color: #b9f3b7; 
    /* color: black; */
    /* width: 1200px; */
    /* margin-left: auto;
    margin-right: auto; */ 
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 14px;
  margin-bottom: 0;
}

p {
  margin-top: 8px;
  margin-bottom: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
} 

ul {
  list-style: none; /*сброс точки в списках*/
  margin-top: 6px;
}

.container {
    /* max-width: 1140px; */
    /* width: 1140px;
    width: 100%; */
    /* margin: 0 auto; */
    padding: 10px 15px;
    /* background-color: #edf4d7; */
    outline: 1px solid black;
  }
  
  .page-header,
  .section-about,
  .section-hero,
  .page-footer {
    background-color: #fee;
    max-width: 1140px;
    margin: 0 auto 10px;
  }
  
  
  /* .page-header {
    background-color: #edf4d7;
    margin-bottom: 10px;
  } */
  /* .section-about {
    background-color: #b2bec5;
  } */
  /* .section-hero {
    background-color: #c5b3c9;
  } */
  /* .page-footer {
    background-color: #8974a2;
  } */

  code {
    /* font-size: 16px; */
    font-weight: 600;
    color: rgb(17, 83, 37);
  }