
.interval-cont {
    width: 300px;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    margin: 10px auto;
    background-color: #def197;
    border: 2px solid black;

}


/* ==== Реклама 10 с ==== */
.advertisen {
    position: fixed;

    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    /* width: 400px; */
    height: 300px;
    padding: 10px;

    /* font-size: 24px; */

    border: 2px solid black;
    background-color: #d199d3;
    background-image: linear-gradient(to top left, rgb(74, 46, 126), rgb(226, 214, 247) );
    
    display: none;
}


.advertisen h3 {
    font-size: 40px;
    margin-bottom: 5px;
    text-align: center;
}

.advertisen p {
    font-size: 24px;
    text-align: center;
}

.js-timer {
    /* font-size: 32px; */
    /* color: red; */
    font-weight: 700;
}



/* ===== Game =====  */

.game-container {
    display: flex;
    justify-content: space-around;
    height: 120px;
    width: 330px;
    padding: 10px 0;
    margin: 0 auto;
    
    background-color: #fff;
}

.game-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc((100% - 30px) / 3);
    border: 2px solid black;
    font-size: 42px;
    
}

.js-start-game {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}