

/* === базові налаштування === */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} or modern-normalize */

/* -- modern-normalize 
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    /> */

/* html {
    background-color: #b9f3b7; 
} */

body {
    /* margin-top: 0; */
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    background-color: #b9f3b7; 
    /* background-color: #eee; */
    /* width: 1200px; */
    /* margin-left: auto;
    margin-right: auto; */
    
}

h1,
h2,
h3,
h4,
h5,
p{
  margin-top: 0;
  margin-bottom: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
} 
  
button {
    cursor: pointer;
}

ul {
  list-style: none; /*сброс точки в списках*/
}

.list {
  list-style: none; /*сброс точки в списках*/
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  display: inline-block;
  text-decoration: none; /*сброс подчеркивания*/
}


/* ----------hidden ----------- */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* ---end----hidden ----------- */




.container {
  /* max-width: 1140px; */
  /* width: 1140px;
  width: 100%; */
  /* margin: 0 auto; */
  padding: 10px 15px;
  /* background-color: #edf4d7; */
  outline: 1px solid black;
}

.page-header,
.section-about,
.section-hero,
.page-footer {
  background-color: #fee;
  max-width: 1140px;
  margin: 0 auto 10px;
}


/* .page-header {
  background-color: #edf4d7;
  margin-bottom: 10px;
} */
/* .section-about {
  background-color: #b2bec5;
} */
/* .section-hero {
  background-color: #c5b3c9;
} */
/* .page-footer {
  background-color: #8974a2;
} */


/* ==flex example== */
.flex-example {
  border: 2px solid black;
  width: 600px;
  margin: 10px auto; 
}

.code-jc {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.menu {
  display: flex;
  gap: 8px;
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;
  list-style: none;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.menu.flex-end {
  justify-content: flex-end;
}

.menu.center {
  justify-content: center;
}

.menu.space-between {
  justify-content: space-between;
}

.menu .link {
  display: block;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  background-color: #fff;
}

.menu .link:hover {
  text-decoration: underline;
}


/* ==== 2 ============ */

.container-flex-ex {
  max-width: 900px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.card-set {
  display: flex;
  /* Make a flex container multiline */
  flex-wrap: wrap;
  /* Set gap between rows and columns */
  gap: 10px;
  padding: 0;
  list-style: none;
}

.item-ex {
  /*  Set the width of the elements  */
  flex-basis: calc((100% - 20px) / 3);
  
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.item-ex h2 {
  margin-top: 0;
  font-size: 20px;
}

.item-ex p {
  margin: 0;
}


/* end flex example */


/* Гумовий контент SideBar */
.container-grow {
  display: flex;
  gap: 8px;
  max-width: 900px;
  /* margin: 0 auto; */
}

.sidebar-grow {
  flex-basis: 180px;
}

.content-grow {
  flex-grow: 1;
}

.sidebar-grow,
.content-grow {
  height: 300px;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


/* end Гумовий контент SideBar */


.card-grow {
  display: flex;
  flex-direction: column;
  flex-basis: 320px;
  margin: 8px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.card-grow > .content2-grow {
  flex-grow: 1;
  
  margin-bottom: 10px;
  padding: 10px;
  border: 2px dashed tomato;
  border-radius: 4px;
}

.card-grow > .meta-grow {
  padding: 10px;
  text-align: center;
  background-color: teal;
  color: white;
  border-radius: 4px;
}